/* Mobile and Tablet */ 
@media (max-width: 1023px) {
    .remove-mobile-tablet {
        display: none;
    }

    /* Header layout */
    .menu {
        position: relative;
    }

    .bars {
        display: block;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav__link {
        padding: 12px 24px;
        display: block;
        text-align: end;
        translate: -150px;
        opacity: 0;
        transition: translate .3s, opacity .3s;
    }

    .bars__input:checked ~ .drawer .nav__link {
        opacity: 1;
        translate: 0;
        transition-delay: calc(.15s * var(--delay));
    }

    .nav__link:hover {
        background-color: #dadada;
        color: #000;
        text-shadow: 1px 0 0 currentColor;
    }

    /* Hero section */
    .hero__body {
        flex-direction: column;
        row-gap: 65px;
    }
    .hero__right {
        width: 100%;
    }
    
    .section__heading {
        width: 75%;
    }
    
    .hero__desc {
        width: 60%;
    }
    
    /* About section */
    .about__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 65px;
    }
    
    .about__left {
        padding: 0;
        width: 100%;
    }
    
    .about-rectangle {
        top: 155px;
    }

    .about__images {
        margin-top: 241px;
    }
    
    /* Feature section */
    .feature__body {
        flex-direction: column;
        align-items: center;
        row-gap: 65px;
    }
    
    .feature__left {
        padding-bottom: 54px;
    }
    
    .feature__right {
        width: 100%;
    }
    
    .feature__desc {
        width: 65%;
    }

    .feature__span {
        text-align: center;
        font-size: 1.4rem;
    }

    .feature__row {
        column-gap: 12px;
    }

    .feature__item:nth-child(1) .feature__icon {
        top: 3px;
    }

    .feature__item:nth-child(2) .feature__icon {
        top: 8px;
    }

    .feature__item:nth-child(3) .feature__icon {
        top: 8px;
    }
    
    /* Services section */
    .services__body {
        flex-direction: column;
        row-gap: 65px;
    }
    
    .services__left,
    .services__right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .services__center {
        padding-bottom: 39px;
        padding-top: 237px;
    }
    
    /* Group section */
    .group__list {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .pricing__list {
        flex-wrap: wrap;
    }
    
    .reviews__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .reviews__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .reviews__doc {
        margin-top: 56px;
    }
    
    /* Blog section */
    .blog__list {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* Footer section */
    .footer__body {
        flex-direction: column;
    }
    
    .footer__left {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        background: linear-gradient(to bottom, #fff6ed 43%, transparent 42%);
    }
        
    .footer__right {
        margin-left: 0;
        justify-content: center;
        margin-top: 24px;
    }

    .footer__copyright {
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .remove-tablet {
        display: none;
    }

    .section__heading {
        font-size: 5rem;
    }

    .drawer {
        width: 60%;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .remove-mobile {
        display: none;
    }   

    .section__heading {
        width: 100%;
        font-size: 3rem;
        line-height: 1.4;
    }

    .section__desc {
        font-size: 1.4rem;
        width: 100%;
    }

    .drawer {
        width: 100%;
    }

    /* Hero section */
    .hero__box-1 > .hero__img {
        width: 288px;
        height: 388px;
    }

    .hero__img:nth-child(3) {
        left: -40px;
    }

    .hero__img:nth-child(4) {
        left: 277px;
    }

    .hero__box-2 {
        width: 146px;
        height: 204px;
        left: 163px;
        bottom: -106px;
    }

    .rectangle {
        width: 200px;
        right: 101px;
        bottom: -130px;
    }

    .hero__cta {
        width: 169px;
    }

    .about__list {
        flex-direction: column;
        gap: 20px;
    }

    .about__img:nth-child(1) {
        width: 100%;
        height: auto;
    }

    .about__images {
        width: 100%;
        height: 236px;
    }

    .about__img:nth-child(2) {
        top: -47px;
        right: -20px;
    }

    .about-rectangle {
        left: -21px;
        top: 400px;
    }

    .feature__images {
        width: 100%;
        height: 400px;  
    }

    .feature__img:nth-child(1) {
        width: 320px;
        height: 400px;
        bottom: 0;
    }

    .feature__img:nth-child(5) {
        right: -25px;
    }

    .feature__img:nth-child(7) {
        bottom: -87px;
        right: -25px;
    }

    .feature__img:nth-child(8) {
        left: 30px;
    }

    .feature__img:nth-child(9) {
        left: 80px;
    }

    .services__box {
        width: 100%;
        height: 250px;
    }

    .services__img {
        width: 348px;
        height: 470px;
    }

    .pricing__icon {
        left: calc(100% + -33px);
        top: -50px;
    }

    .pricing__group {
        margin-top: 60px;
    }       

    .pricing__year {
        width: 123px;
    }

    .pricing__rectangle {
        width: 270px;
    }

    .reviews__row {
        width: 100%;
    }

    .reviews__body {
        flex-direction: column;
        row-gap: 50px;
    }

    .reviews__image {
        margin: 0;
    }

    .reviews__right {
        width: 100%;
        margin-top: 50px;
    }

    .blog__top {
        flex-direction: column;
    }

    .blog__box {
        width: 100%;
    }

    .footer__right {
        gap: 58px;
    }

}